
/*html, body {
	width: 420mm;
}*/

/*html {
	transform-origin: top left;
	transform: scale(0.5);
}*/

.footer,
.header,
.cards {
	display: none;
}

.card {
    width: calc(50% - 10px)
}

.card-title {
    font-size: 18px;
    font-weight: 400;
}

.activity-title {
    margin-bottom: 40px;
}

.sorting-column-dropzone {
	height: 750px;/*calc(100vh - 350px);*/
}

.sorting-column-dropzone {
    gap: 10px;
}

.fa-arrows {
	display: none !important;
}

.ng-hide:not(.ng-hide-animate).sort-activity-a,
.ng-hide:not(.ng-hide-animate).sort-activity-b {
	display: block !important;
}
.sort-activity-b {
	padding-top: 200px;
	padding-bottom: 70px;
}
